@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<section class="form-section full">
    <div class="section__bg pc" style="background-image: url(../../img/form/pc-bg.jpg)"></div>
    <div class="section__bg xs" style="background-image: url(../../img/form/xs-bg.jpg)"></div>
    <div class="container">
        <form class="form__box" method="post">
            <div class="form__inner">
                <h2 class="s-title">Сброс пароля</h2>
                <p>Введите ваш Email для подтверждения сброса пароля на&nbsp;сайте</p>
                <input asp-for="Input.Email" class="t-input" type="text" placeholder="Email" required="">
                <button class="t-btn brown" type="submit">
                    <span>Сбросить пароль</span>
                </button>
            </div>
        </form>
    </div>
</section>

@* <h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
