@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<section class="form-section full">
    <div class="section__bg pc" style="background-image: url(../../img/form/pc-bg.jpg)"></div>
    <div class="section__bg xs" style="background-image: url(../../img/form/xs-bg.jpg)"></div>
    <div class="container">
        <form class="form__box" method="post">
            <div class="form__inner">
                <h2 class="s-title">Сброс пароля</h2>
                <p>Введите ваш Email для подтверждения сброса пароля на&nbsp;сайте</p>
                <input asp-for="Input.Email" class="t-input" type="text" placeholder="Email" required="">
                <button class="t-btn brown" type="submit">
                    <span>Сбросить пароль</span>
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
