@page
@model LoginModel

@{
    ViewData["Title"] = "Авторизация";
}

<section class="form-section full">
    <div class="section__bg pc" style="background-image: url(../../img/form/pc-bg.jpg)"></div>
    <div class="section__bg xs" style="background-image: url(../../img/form/xs-bg.jpg)"></div>
    <div class="container">
        <form class="form__box" method="post">
            <div class="form__inner">
                <h2 class="s-title">Авторизация</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input class="t-input" asp-for="Input.Email" autocomplete="email" aria-required="true" placeholder="Логин" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <input class="t-input" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Пароль" required>
                <button class="t-btn brown" type="submit">
                    <span>Войти</span>
                </button><a class="line-btn" asp-page="./ForgotPassword" style="color: white"> <span class="line">забыли пароль?</span><img class="img-svg" src="~/img/icons/signin-arrow.svg" alt=""></a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
