@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<section class="form-section full">
    <div class="section__bg pc" style="background-image: url(../../img/form/pc-bg.jpg)"></div>
    <div class="section__bg xs" style="background-image: url(../../img/form/xs-bg.jpg)"></div>
    <div class="container">
        <form class="form__box" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form__inner">
                <h2 class="s-title">Регистрация</h2>
                <input class="t-input" asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" placeholder="Имя" required>
                <input class="t-input" asp-for="Input.Email" autocomplete="email" aria-required="true" placeholder="Email" required>
                <input class="t-input" asp-for="Input.PhoneNumber" autocomplete="phonenumber" aria-required="true" placeholder="Номер телефона" required>
                <input class="t-input" asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Пароль" required>
                <button class="t-btn brown" type="submit">
                    <span>Зарегистрироваться</span>
                </button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <a class="line-btn" asp-area="Identity" asp-page="/Account/Login" style="color: white"> <span class="line">уже зарегистрированы? войти</span><img class="img-svg" src="img/icons/signin-arrow.svg" alt=""></a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
