@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<section class="form-section full">
    <div class="section__bg pc" style="background-image: url(../../img/form/pc-bg.jpg)"></div>
    <div class="section__bg xs" style="background-image: url(../../img/form/xs-bg.jpg)"></div>
    <div class="container">
        <form class="form__box" method="post">
            <div class="form__inner">
                <h2 class="s-title">Сброс пароля</h2>
                <p style="color: green;text-align:center">Пароль успешно изменен</p>
                <p></p>
            </div>
        </form>
    </div>
</section>
