@{
    ViewData["Title"] = "EXEED";
}

<section class="intro-section full">
    <div class="section__bg pc" style="background-image: url(img/intro/pc-bg.jpg)"></div>
    <div class="section__bg xs" style="background-image: url(img/intro/xs-bg.jpg)"></div>
    <div class="container">
        <h1 class="t-title"> <b>Отправляйтесь <br>навстречу мечте!</b></h1>
        <div class="intro__subtitle">Загадайте желание вместе с&nbsp;EXEED!</div><a class="t-btn brown" asp-area="Identity" asp-page="/Account/Register" style="color: white"> <span>Зарегистрироваться</span></a>
        <a class="line-btn" asp-area="Identity" asp-page="/Account/Login" style="color: white">
            <span class="line">Авторизоваться</span>
            <img class="img-svg" src="~/img/icons/signin-arrow.svg" alt="">
        </a>
    </div>
</section>