@{
    ViewData["Title"] = "Правила проведения конкурса";
}

<section class="desires-section">
    <div class="container">
        <h1 class="s-title">ПРАВИЛА ПРОВЕДЕНИЯ КОНКУРСА <br>«Отправляйтесь навстречу мечте!»</h1>

        <p><strong>1. ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>
        <p>
            1.1. Настоящий Конкурс под названием «Отправляйтесь навстречу мечте!» (далее – «Конкурс») регулируется настоящими Правилами проведения Конкурса (далее - «Правила»):
            <ul>
                <li>не является стимулирующим мероприятием по смыслу ст. 9 Федерального закона от 13.03.2006 №38-ФЗ «О рекламе», лотереей, не содержит элемента риска;</li>
                <li>организуется и проводится на территории РФ в целях привлечения внимания аудитории и популяризации бренда EXEED (далее – «Бренда»), а также для повышения посещаемости Интернет-сайта Бренда https://exeed.ru/ и новой модели автомобиля https://exeed.ru/vx-fl/</li>
            </ul>
        <p>Дата проведения: с 27 декабря 2023 года по 29 февраля 2024 в г. Москва, на территории ГУМа и катка.</p>
        <p>1.1.1. Организатор – Акционерное общество «ЧЕРИ АВТОМОБИЛИ РУС» (ОГРН 1057749370964, место нахождения: 1127495, г. Москва, Дмитровское шоссе, 163А корп. 2, Бизнес-Центр «SK Plaza», 11 этаж).</p>
        <p>1.1.3. Участники - физические лица, являющиеся гражданами Российской Федерации, достигшие 16 лет и старше, зарегистрированные и проживающие на территории Российской Федерации, которые действуют от своего имени, обладают необходимыми и достаточными правами для приобретения и осуществления предоставляемых прав, добровольно, самостоятельно и лично принимают на себя все обязательства, риски ответственности и последствий, связанные с участием в Конкурсе.</p>
        <p>1.1.4. Победители Конкурса - Участники, которые в соответствии с настоящими Правилами будут признаны победителями Конкурса, и которые вправе получить приз.</p>
        </p>
        <p>1.2. Информирование о проведении Конкурса, а также новостных анонсов, касающихся всех возможных изменений в проведении Конкурса, проводится на Интернет-сайте Организатора https://exeed2024.ru (далее «Сайт»), а также в официальных сообществах Организатора в социальных сетях «ВКонтакте» https://vk.com/exeedru и приложении «Telegram» (https://t.me/exeedrussia).</p>
        <p>1.3. Порядок организации и проведения Конкурса регулируется настоящими Правилами.</p>
        <p>1.4. Период проведения Конкурса: c 27 декабря 2023 года (с 12:00) по 29 февраля 2024 года (до 23:59 часов) включительно.
        <p>1.4.1. Срок выполнения условий Конкурса: c «27» декабря 2023 года (с 12:00 часов) по 22 февраля 2024 года (до 23:59 часов) включительно (далее – «Период осуществления Конкурсных действий»)</p>
        <p>1.4.2. Итоги Конкурса подводятся Организатором и публикуются на сайте Компании https://exeed2024.ru (далее - «Интернет-сайт») каждую неделю до конца проведения конкурса.</p>
        <p>1.4.3. Срок вручения Призов Конкурса: с 02 января 2024 г. по 29 февраля 2024 г.</p>
        <p>1.4.4. Любое время, указанное в настоящих Правилах, необходимо рассматривать как московское.</p>
        </p>
        <p>1.5. Правила публикуются на Интернет-сайте Организатора, а именно на странице Конкурса https://exeed2024.ru/star.html (далее – «Страница конкурса»).</p>
        <p>1.6. В Конкурсе могут принимать участие лица, соответствующие требованиям, изложенным в определении термина «Участники» выше, выполнившие условия участия в Конкурсе, указанные в Правилах.</p>
        <p>1.7. К участию в Конкурсе не допускаются работники и уполномоченные представители Организатора, представители его аффилированных лиц, работники и представители других лиц, имеющих непосредственное отношение к организации и/или проведению Конкурса и члены их семей. В Конкурсе не могут принимать участие лица, признанные судом недееспособными вследствие психического расстройства, и лица, ограниченные судом в дееспособности.</p>

        <p><strong>2. УСЛОВИЯ И ПОРЯДОК УЧАСТИЯ В КОНКУРСЕ</strong></p>
        <p>2.1. Задание Конкурса:</p>
        <p>2.2. Чтобы принять участие в Конкурсе Участнику необходимо в период осуществления Конкурсных действий:</p>
        <ul>
            <li>1. Зарегистрироваться на Сайте;</li>
            <li>2. Подписаться на группу Организатора в Вконтакте;</li>
            <li>3. Написать свое желание на год;</li>
            <li>4. Сделать фотографию рядом с одним из стендов Организатора на территории ГУМа и катка. Схематичное расположение стендов указано на Странице конкурса;</li>
            <li>5. Выложить свое желание с текстом и фото в общую ленту желаний;</li>
            <li>6. Ставить лайки другим пользователям. Доступно максимально 3шт. Самому себе лайк поставить нельзя.</li>
        </ul>
        <p>2.3. Каждому Участнику, выполнившему условия п.2.2, присваивается уникальный идентификационный номер.</p>
        <p>2.4. Выбор Победителей осуществляется раз в неделю. Побеждают Участники, набравшие больше всех лайков, затем их желания убираются из общей ленты для определения последующих Победителей.</p>
        <p>2.5. Победителями Конкурса признаются по 3 (три) Участника в неделю из общего числа Участников, выполнивших требования п.2.2. настоящего раздела.</p>

        <p><strong>3. ПОРЯДОК И СРОКИ ОБЪЯВЛЕНИЯ ПОБЕДИТЕЛЕЙ</strong></p>
        <p>3.1. Общее количество Победителей Конкурса - 30 (тридцать).</p>
        <p>3.2. Объявление Победителей на Странице конкурса путем размещения списка с наименованиями Аккаунтов Участников на Сайте, признанных Победителями.</p>
        <p>3.3. Организатор Конкурса предпринимает меры к уведомлению Победителей посредством сообщения в личной переписке с Участником. В уведомлении Организатор Конкурса указывает перечень сведений и документов, предоставление которых необходимо для выдачи приза Участнику, сроки их направления Организатору Конкурса, а в случае необходимости – сообщает действие, которое Участнику необходимо выполнить для подтверждения принадлежности ему Аккаунта Участника на Сайте, публикации изображения лично Участником.</p>
        <p>3.4. Определение Победителей Конкурса осуществляется без учета часовых поясов места нахождения Участников Конкурса (по московскому времени).</p>
        <p>3.5. Если после объявления Победителей станут известны факты несоответствия Победителя требованиям к Участнику и/или предоставления недостоверной или неполной информации, иного нарушения Правил, Организатор оставляет за собой право исключить такое лицо из числа Победителей и определить вместо него нового Победителя в соответствии с Правилами из числа Участников.</p>
        <p>3.6. Победители Конкурса обязуются ответить на сообщение Организатора Конкурса и предоставить необходимые сведения и документы, указанные в нем, не позднее срока, указанного в сообщении. В случае, если Победитель не ответил на сообщение в указанный срок и/или не предоставил необходимые достоверные сведения и документы, Организатор Конкурса вправе исключить такое лицо из числа Победителей и определить вместо него нового Победителя Конкурса в соответствии с Правилами из числа оставшихся Участников либо не выбирать нового Победителя.</p>
        <p>3.7. Организатор Конкурса не несет ответственности за неуведомление Победителей по причинам, не зависящим от Организатора Конкурса, в частности если они установили настройки приватности, запрещающие сторонним пользователям связываться с ними, а также в случае невозможности связаться с Победителем из-за блокировки/удаления/закрытия аккаунта Участника в Социальной сети на момент попытки связаться с ним.</p>

        <p><strong>4. ПРИЗЫ</strong></p>
        <p>
            4.1. Призами Конкурса являются:
            <ul>
                <li>Новогодний плейслист + 90 дней подписки на сервис "VK Музыка"</li>
                <li>Бесплатный билет на посещение катка в ГУМе</li>
                <li>Новогодний брендированный подарок от EXEED</li>
            </ul>
        <p>Количество призов:<b>30</b></p>
        <p>4.2. Стоимость каждого приза Конкурса не превышает 4 000 (четыре тысячи) рублей 00 копеек. Согласно законодательству РФ, не облагаются налогом на доходы физических лиц (НДФЛ) доходы, не превышающие 4 000 (четырех тысяч) руб., полученные за налоговый период от организаций, в т.ч., в виде подарков, выигрышей или призов в проводимых конкурсах, играх и других мероприятиях в целях рекламы товаров (работ, услуг) (п. 28 ст. 217 НК РФ).</p>
        <p>4.3. Каждый Победитель, предоставивший Организатору Конкурса необходимые сведения (п.3.6. Правил), получает приз лично при посещении стенда на территори ГУМа или в личном сообщении от Организатора.</p>
        <p>4.4. Денежный эквивалент приза не выплачивается. Призы возврату или обмену не подлежат. Право их получения не может быть передано Победителем другому лицу.</p>
        <p>4.5. В случае невозможности получить приз, отказа от приза и/или невозможности связаться с Победителем Конкурса в течение установленного срока, Организатор вправе передать приз другому Участнику Конкурса или распорядиться иным образом по своему усмотрению. Организатор не несет ответственности в случае невозможности реализации Победителем права на приз, а также наличии у Победителя иных обстоятельств, препятствующих реализации им права на приз.</p>

        <p><strong>5. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ КОНКУРСА</strong></p>
        <p>5.1. Организатор не несет ответственности за любой ущерб, нанесенный здоровью (жизни), имуществу Победителя, а также здоровью или жизни третьих лиц в связи с участием в Конкурсе и получением приза.</p>
        <p>5.2. Организатор вправе вносить изменения, в т.ч. дополнительные требования к Участникам, в Правила без персонального уведомления Участников. Все изменения в Правила вступают в силу с момента публикации новой редакции Правил на Странице конкурса.</p>
        <p>5.3. Организатор Конкурса вправе отстранить Участника Конкурса от участия в Конкурсе на любом этапе его проведения в случае нарушения Участником настоящих Правил.</p>
        <p>5.4. Участники Конкурса согласны и участием в Конкурсе подтверждают свое согласие на то, что сведения о них, предоставленные Участником, в т.ч. фамилии, имена, никнеймы и изображения, адреса E-mail и аккаунтов в Социальных сетях, поступившие в распоряжение Организатора в ходе проведения Конкурса, подведения или объявления итогов, могут быть использованы Организатором в целях проведения Конкурса и вручения призов, в рекламных целях (в том числе путем направления рекламных сообщений) по собственному усмотрению без дополнительных согласований с Участниками и выплаты им какого-либо вознаграждения.</p>
        <p>5.5. Участник гарантирует, что все сведения, представленные им, являются достоверными.</p>
        <p>5.6. Участник Конкурса, выполняя задание Конкурса, дает свое согласие на опубликование информации о нем на Интернет-сайте, а также в официальных сообществах Бренда, в социальных сетях, в связи с его участием в Конкурсе без выплаты вознаграждения.</p>
        <p>5.7. Организатор Конкурса не несет ответственности за технические сбои работы информационных ресурсов в сети Интернет. Организатор не несет ответственности за неверно указанные Участником сведения.</p>
        <p>5.8. Участие в Конкурсе подтверждает, что Участник ознакомлен и согласен с Правилами. В случае нарушения Участником настоящих Правил Организатор вправе принять решение об аннулировании результатов Участника Конкурса.</p>
    </div>
</section>      