@page
@inject Exeed.Managers.AccountManager AccountManager
@model IndexModel
@{
    ViewData["Title"] = "Личный кабинет";
    var account = await AccountManager.GetAsync(User);
    string phoneNumber = account.User.PhoneNumber;
    phoneNumber = phoneNumber.Split("-")[0] + "-**-**";
}

<section class="cabinet-section">
    <div class="container">
        <h1 class="s-title">Личный кабинет</h1>
        <div class="user__box">
            <div class="user__info user__column">
                <div class="user__title">Данные кабинета</div>
                <div class="user__info-item">
                    <div class="title">Имя:</div>
                    <div class="value">@account.FirstName</div>
                </div>
                <div class="user__info-item">
                    <div class="title">Телефон:</div>
                    <div class="value">@phoneNumber</div>
                </div>
                <div class="user__info-item">
                    <div class="title">Email:</div>
                    <div class="value">@account.User.Email</div>
                </div>
                <div class="user__info-item" style="width: 100%;">
                    <form asp-page="./Index" asp-page-handler="Logout" method="post" style="width: 100%;">
                        <button class="t-btn brown" style="width: 100%;">
                            <span>Выйти из аккаунта</span>
                        </button>
                    </form>
                </div>
            </div>
            <form class="user__desire user__column" id="frm" method="post" enctype="multipart/form-data">
                <div class="user__title">Ваше желание</div>
                <div class="user__desire-text" style="min-height: 15rem;">@account.Desire.Text</div>
                @if ((account.Desire?.IsVerified ?? false) || account.Role == Exeed.Domain.Models.Role.Moderator)
                {
                    <a class="t-btn brown" asp-area="Identity" asp-page="/Account/Manage/Desires" style="color: white"><span>Перейти к желаниям</span></a>
                }
                else if (account.Desire?.PhotoPath != null)
                {
                    <a class="t-btn brown" asp-area="Identity" asp-page="/Account/Manage/Desires" style="color: white">
                        <div style="text-align:center">
                            <span>Перейти к желаниям</span>
                            <h6 style="font-size:0.9rem">Ваше желание модерируется</h6>
                        </div>
                    </a>
                }
                else
                {
                    <label class="t-btn brown">
                        <div class="label__text">
                            <span>Прикрепить фотографию и выложить желание</span>
                            <img src="~/img/icons/fi_image.svg" alt="">
                        </div>
                        <input type="file" asp-for="Input.Photo" id="sbm">
                    </label>
                }
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        jQuery(function(){
          $("#sbm").change(function(){
            $("#frm").submit();
          });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}